$step-size: 3rem;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 1.5rem;
  border: 1px solid gray;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  margin: 2rem;
  display: inline-flex;
  align-items: flex-start;
}

.horiz .step-cont {
  display: flex;
}

.container.horiz {
  justify-content: space-between;
}

.container.vert {
  flex-direction: column;
}

.step {
  width: 13ch;

  &__number {
    @include flex-center;
    height: $step-size;
    width: $step-size;
    margin: 0 auto 1rem;
    border-radius: 50%;
    border: 1px solid #838383;
    color: #333;

    &-selected {
      background: slateblue;
      border: 1px solid #bdbdbd;
      color: #fff;
    }
  }

  &__description {
    width: 13ch;
    height: $step-size;
    text-align: center;

    &-active {
      font-weight: bold;
    }
  }
}

.vert .step {
  width: auto;
  display: flex;

  &__number {
    margin: 0 0.5rem 0 0;
  }
}

.vert .step__description {
  @include flex-center;
}

.spacer {
  flex: 1;
  background-color: #555;
}

.spacer.sp-horiz {
  margin: $step-size/2 -1rem 0;
  height: 2px;
  min-width: $step-size * 2;
}

.spacer.sp-vert {
  min-height: $step-size * 1.2;
  width: 2px;
  margin: 0.8rem 0 0.8rem $step-size/2;
}
